# Importar Pandas

In [16]:
#importa pandas
import pandas as pd

# Crear una Serie

Explore series en python en el siguiente [link](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html) en las primeras lineas del documento

In [17]:
# Crea una Serie de los numeros 10, 20 and 10.
import pandas as pd

numeros = [10, 20, 10]
serie = pd.Series(numeros)

print(serie)

0    10
1    20
2    10
dtype: int64

In [19]:
# Crea una Serie con tres objetos: 'rojo', 'verde', 'azul'
import pandas as pd

colores = ['rojo', 'verde', 'azul']
serie = pd.Series(colores)

print(serie)

0     rojo
1    verde
2     azul
dtype: object

# Crear un Dataframe

In [ ]:
# Crea un dataframe vacío llamado 'df'
df = pd.Dataframe()

In [21]:
# Crea una nueva columna en el dataframe, y asignale la primera serie que has creado
import pandas as pd

# Crear la serie
numeros = [10, 20, 10]
serie = pd.Series(numeros)

# Crear un DataFrame de ejemplo
data = {'colores': ['rojo', 'verde', 'azul']}
df = pd.DataFrame(data)

# Asignar la serie a una nueva columna en el DataFrame
df['numeros'] = serie

# Imprimir el DataFrame resultante
print(df)

  colores  numeros
0    rojo       10
1   verde       20
2    azul       10

In [3]:
# Crea otra columna en el dataframe y asignale la segunda Serie que has creado
import pandas as pd

# Crear la segunda serie
colores = ['rojo', 'verde', 'azul']
serie_colores = pd.Series(colores)

# Crear un DataFrame de ejemplo
data = {'numeros': [10, 20, 10]}
df = pd.DataFrame(data)

# Asignar la serie de colores a una nueva columna en el DataFrame
df['colores'] = serie_colores

# Imprimir el DataFrame resultante
print(df)

   numeros colores
0       10    rojo
1       20   verde
2       10    azul

# Leer un dataframe

In [10]:
# Lee el archivo llamado 'avengers.csv' localizado en la carpeta "data" y crea un DataFrame, llamado 'avengers'. 

import pandas as pd

In [13]:
# Lee el archivo 'avengers.csv' desde la carpeta 'data' y crea el DataFrame 'avengers'

df_avengers = pd.read_csv(r'C:\Users\Usuario\Pictures\phyton\PRÁCTICA 5 ENTREGAR\data\src/avengers.csv')

In [14]:
print(df_avengers)

                                                   URL  \
0        http://marvel.wikia.com/Henry_Pym_(Earth-616)
1    http://marvel.wikia.com/Janet_van_Dyne_(Earth-...
2    http://marvel.wikia.com/Anthony_Stark_(Earth-616)
3    http://marvel.wikia.com/Robert_Bruce_Banner_(E...
4     http://marvel.wikia.com/Thor_Odinson_(Earth-616)
..                                                 ...
168   http://marvel.wikia.com/Eric_Brooks_(Earth-616)#
169  http://marvel.wikia.com/Adam_Brashear_(Earth-6...
170  http://marvel.wikia.com/Victor_Alvarez_(Earth-...
171     http://marvel.wikia.com/Ava_Ayala_(Earth-616)#
172         http://marvel.wikia.com/Kaluu_(Earth-616)#

                          nombre  n_apariciones actual  genero  fecha_inicio  \
0      Henry Jonathan "Hank" Pym           1269    YES    MALE          1963
1                 Janet van Dyne           1165    YES  FEMALE          1963
2    Anthony Edward "Tony" Stark           3068    YES    MALE          1963
3            Robert Bruce Banner           2089    YES    MALE          1963
4                   Thor Odinson           2402    YES    MALE          1963
..                           ...            ...    ...     ...           ...
168                  Eric Brooks            198    YES    MALE          2013
169                Adam Brashear             29    YES    MALE          2014
170               Victor Alvarez             45    YES    MALE          2014
171                    Ava Ayala             49    YES  FEMALE          2014
172                        Kaluu             35    YES    MALE          2015

                                                 Notes
0    Merged with Ultron in Rage of Ultron Vol. 1. A...
1    Dies in Secret Invasion V1:I8. Actually was se...
2    Death: "Later while under the influence of Imm...
3    Dies in Ghosts of the Future arc. However "he ...
4    Dies in Fear Itself brought back because that'...
..                                                 ...
168                                                NaN
169                                                NaN
170                                                NaN
171                                                NaN
172                                                NaN

[173 rows x 7 columns]

# Inspeccionar un dataframe

In [15]:
# Muestra las primeras 5 filas del DataFrame.

df_avengers.head(5)

,URL,nombre,n_apariciones,actual,genero,fecha_inicio,Notes
0,http://marvel.wikia.com/Henry_Pym_(Earth-616),"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,1963,Merged with Ultron in Rage of Ultron Vol. 1. A...
1,http://marvel.wikia.com/Janet_van_Dyne_(Earth-...,Janet van Dyne,1165,YES,FEMALE,1963,Dies in Secret Invasion V1:I8. Actually was se...
2,http://marvel.wikia.com/Anthony_Stark_(Earth-616),"Anthony Edward ""Tony"" Stark",3068,YES,MALE,1963,"Death: ""Later while under the influence of Imm..."
3,http://marvel.wikia.com/Robert_Bruce_Banner_(E...,Robert Bruce Banner,2089,YES,MALE,1963,"Dies in Ghosts of the Future arc. However ""he ..."
4,http://marvel.wikia.com/Thor_Odinson_(Earth-616),Thor Odinson,2402,YES,MALE,1963,Dies in Fear Itself brought back because that'...

In [22]:
# Muestra las primeras 10 filas del DataFrame. 
df_avengers.head(10)

,URL,nombre,n_apariciones,actual,genero,fecha_inicio,Notes
0,http://marvel.wikia.com/Henry_Pym_(Earth-616),"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,1963,Merged with Ultron in Rage of Ultron Vol. 1. A...
1,http://marvel.wikia.com/Janet_van_Dyne_(Earth-...,Janet van Dyne,1165,YES,FEMALE,1963,Dies in Secret Invasion V1:I8. Actually was se...
2,http://marvel.wikia.com/Anthony_Stark_(Earth-616),"Anthony Edward ""Tony"" Stark",3068,YES,MALE,1963,"Death: ""Later while under the influence of Imm..."
3,http://marvel.wikia.com/Robert_Bruce_Banner_(E...,Robert Bruce Banner,2089,YES,MALE,1963,"Dies in Ghosts of the Future arc. However ""he ..."
4,http://marvel.wikia.com/Thor_Odinson_(Earth-616),Thor Odinson,2402,YES,MALE,1963,Dies in Fear Itself brought back because that'...
5,http://marvel.wikia.com/Richard_Jones_(Earth-616),Richard Milhouse Jones,612,YES,MALE,1963,NaN
6,http://marvel.wikia.com/Steven_Rogers_(Earth-616),Steven Rogers,3458,YES,MALE,1964,Dies at the end of Civil War. Later comes back.
7,http://marvel.wikia.com/Clint_Barton_(Earth-616),Clinton Francis Barton,1456,YES,MALE,1965,Dies in exploding Kree ship in Averngers Vol. ...
8,http://marvel.wikia.com/Pietro_Maximoff_(Earth...,Pietro Maximoff,769,YES,MALE,1965,Dies in House of M Vol 1 Issue 7. Later comes ...
9,http://marvel.wikia.com/Wanda_Maximoff_(Earth-...,Wanda Maximoff,1214,YES,FEMALE,1965,Dies in Uncanny_Avengers_Vol_1_14. Later comes...

In [25]:
# Muestra las últimas 5 filas del DataFrame.

df_avengers.tail(5)

,URL,nombre,n_apariciones,actual,genero,fecha_inicio,Notes
168,http://marvel.wikia.com/Eric_Brooks_(Earth-616)#,Eric Brooks,198,YES,MALE,2013,NaN
169,http://marvel.wikia.com/Adam_Brashear_(Earth-6...,Adam Brashear,29,YES,MALE,2014,NaN
170,http://marvel.wikia.com/Victor_Alvarez_(Earth-...,Victor Alvarez,45,YES,MALE,2014,NaN
171,http://marvel.wikia.com/Ava_Ayala_(Earth-616)#,Ava Ayala,49,YES,FEMALE,2014,NaN
172,http://marvel.wikia.com/Kaluu_(Earth-616)#,Kaluu,35,YES,MALE,2015,NaN

# Tamaño del DataFrame

In [26]:
# Muestra el tamaño del DataFrame

tamaño = df_avengers.shape
print("Número de filas:", tamaño[0])
print("Número de columnas:", tamaño[1])

Número de filas: 173
Número de columnas: 7

# Data types en un DataFrame

In [27]:
# Muestra los data types del dataframe
data_types = df_avengers.dtypes
print(data_types)

URL              object
nombre           object
n_apariciones     int64
actual           object
genero           object
fecha_inicio      int64
Notes            object
dtype: object

# Editar el indice (index)

In [28]:
# Cambia el indice a la columna "fecha_inicio".

df_avengers.set_index("fecha_inicio", inplace=True)

# Mostrar el DataFrame con el nuevo índice
print(df_avengers)

                                                            URL  \
fecha_inicio
1963              http://marvel.wikia.com/Henry_Pym_(Earth-616)
1963          http://marvel.wikia.com/Janet_van_Dyne_(Earth-...
1963          http://marvel.wikia.com/Anthony_Stark_(Earth-616)
1963          http://marvel.wikia.com/Robert_Bruce_Banner_(E...
1963           http://marvel.wikia.com/Thor_Odinson_(Earth-616)
...                                                         ...
2013           http://marvel.wikia.com/Eric_Brooks_(Earth-616)#
2014          http://marvel.wikia.com/Adam_Brashear_(Earth-6...
2014          http://marvel.wikia.com/Victor_Alvarez_(Earth-...
2014             http://marvel.wikia.com/Ava_Ayala_(Earth-616)#
2015                 http://marvel.wikia.com/Kaluu_(Earth-616)#

                                   nombre  n_apariciones actual  genero  \
fecha_inicio
1963            Henry Jonathan "Hank" Pym           1269    YES    MALE
1963                       Janet van Dyne           1165    YES  FEMALE
1963          Anthony Edward "Tony" Stark           3068    YES    MALE
1963                  Robert Bruce Banner           2089    YES    MALE
1963                         Thor Odinson           2402    YES    MALE
...                                   ...            ...    ...     ...
2013                          Eric Brooks            198    YES    MALE
2014                        Adam Brashear             29    YES    MALE
2014                       Victor Alvarez             45    YES    MALE
2014                            Ava Ayala             49    YES  FEMALE
2015                                Kaluu             35    YES    MALE

                                                          Notes
fecha_inicio
1963          Merged with Ultron in Rage of Ultron Vol. 1. A...
1963          Dies in Secret Invasion V1:I8. Actually was se...
1963          Death: "Later while under the influence of Imm...
1963          Dies in Ghosts of the Future arc. However "he ...
1963          Dies in Fear Itself brought back because that'...
...                                                         ...
2013                                                        NaN
2014                                                        NaN
2014                                                        NaN
2014                                                        NaN
2015                                                        NaN

[173 rows x 6 columns]

# Ordenar el indice

In [29]:
# Ordena el índice de forma descendiente
df_avengers.sort_index(ascending=False, inplace=True)

# Mostrar el DataFrame con el índice ordenado en orden descendente
print(df_avengers)

                                                            URL  \
fecha_inicio
2015                 http://marvel.wikia.com/Kaluu_(Earth-616)#
2015          http://marvel.wikia.com/Sam_Alexander_(Earth-6...
2014             http://marvel.wikia.com/Ava_Ayala_(Earth-616)#
2014          http://marvel.wikia.com/Victor_Alvarez_(Earth-...
2014          http://marvel.wikia.com/Adam_Brashear_(Earth-6...
...                                                         ...
1900          http://marvel.wikia.com/Emery_Schaub_(Earth-616)#
1900          http://marvel.wikia.com/James_Santini_(Earth-6...
1900          http://marvel.wikia.com/Elvin_Haliday_(Earth-6...
1900          http://marvel.wikia.com/William_Baker_(Earth-6...
1900           http://marvel.wikia.com/Julie_Power_(Earth-616)#

                      nombre  n_apariciones actual  genero  \
fecha_inicio
2015                   Kaluu             35    YES    MALE
2015           Sam Alexander             78    YES    MALE
2014               Ava Ayala             49    YES  FEMALE
2014          Victor Alvarez             45    YES    MALE
2014           Adam Brashear             29    YES    MALE
...                      ...            ...    ...     ...
1900            Emery Schaub             26    YES    MALE
1900           James Santini             40    YES    MALE
1900           Elvin Haliday            158     NO    MALE
1900           William Baker            355     NO    MALE
1900             Julie Power            153    YES  FEMALE

                                                          Notes
fecha_inicio
2015                                                        NaN
2015                                                        NaN
2014                                                        NaN
2014                                                        NaN
2014                                                        NaN
...                                                         ...
1900                                                        NaN
1900                                                        NaN
1900                                                        NaN
1900          Died in Identity_Disc_Vol_1_1. Later was revea...
1900                                                        NaN

[173 rows x 6 columns]

# Resetear el indice

In [31]:
# Resetea el índice

df_avengers = df_avengers.reset_index()

print(df_avengers)

     fecha_inicio                                                URL  \
0            2015         http://marvel.wikia.com/Kaluu_(Earth-616)#
1            2015  http://marvel.wikia.com/Sam_Alexander_(Earth-6...
2            2014     http://marvel.wikia.com/Ava_Ayala_(Earth-616)#
3            2014  http://marvel.wikia.com/Victor_Alvarez_(Earth-...
4            2014  http://marvel.wikia.com/Adam_Brashear_(Earth-6...
..            ...                                                ...
168          1900  http://marvel.wikia.com/Emery_Schaub_(Earth-616)#
169          1900  http://marvel.wikia.com/James_Santini_(Earth-6...
170          1900  http://marvel.wikia.com/Elvin_Haliday_(Earth-6...
171          1900  http://marvel.wikia.com/William_Baker_(Earth-6...
172          1900   http://marvel.wikia.com/Julie_Power_(Earth-616)#

             nombre  n_apariciones actual  genero  \
0             Kaluu             35    YES    MALE
1     Sam Alexander             78    YES    MALE
2         Ava Ayala             49    YES  FEMALE
3    Victor Alvarez             45    YES    MALE
4     Adam Brashear             29    YES    MALE
..              ...            ...    ...     ...
168    Emery Schaub             26    YES    MALE
169   James Santini             40    YES    MALE
170   Elvin Haliday            158     NO    MALE
171   William Baker            355     NO    MALE
172     Julie Power            153    YES  FEMALE

                                                 Notes
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
168                                                NaN
169                                                NaN
170                                                NaN
171  Died in Identity_Disc_Vol_1_1. Later was revea...
172                                                NaN

[173 rows x 7 columns]